.slidecontainer{
    width: 90%; margin: 20px auto 0 auto;
}
.slider{
    -webkit-appearance: none; appearance: none; width: 100%; height: 25px; background: #95A3B3; 
    border-radius: 15px;
}
.slider:focus{outline: none}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; appearance: none; width: 35px; height: 35px; background: #4B4E6D; 
    cursor: pointer; border-radius: 20px
}

#blackWhiteButton{
    width: 30%; margin: 20px auto 0 auto; background-color: rgb(40,40,40); padding: 20px 15px 20px 15px; border-radius: 20px;
    font-weight: bold; text-align: center; color: white;
}
