body, html{
    margin:0; background-color: black; ; font-family: Arial, Helvetica, sans-serif; 
}
h2{text-align: center; margin: 0px 0 0 0}
#wrapper{width: 100%}

a{ text-decoration: none}
#backButton{
    margin: 10px; padding: 10px 15px 10px 15px; text-align: center; color: black; background-color: white; 
    font-weight: bold; width: 20%; border-radius: 20px;
}
#controllBoard{width: 90%; background-color: #E9F1F7; height: 50%; margin: 20px auto 10px auto; padding: 10px; 
    border-radius: 20px;
}

.button0, .button1{
    font-size: 15px; padding: 20px; border-radius: 20px; font-weight: bold;
    float:left; color: white; text-align: center; margin: 10px;  width: 20%; vertical-align: middle}
.button0{background-color: #F15946;}